# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# İşletim sistemi
.DS_Store
Thumbs.db

# Gerçek kimlik görselleri / test verisi burada tutulmasın
*.jpg
*.jpeg
*.png
*.pdf
!referans_kimlik.jpg